@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 10px;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background: #50698c;
    z-index: 4;
    box-shadow: 0 7px 10px black;
}

.nav_icon {
    padding: 1.5rem 2rem 1.5rem 1.3rem;
    font-size: 3rem;
    font-family:Arial, Helvetica, sans-serif;
}

nav a {
    color: black;
    text-decoration: none;
}

.herobar {
    width: 100%;
    height: 50rem;
    position: relative;
    background: url("Hero_img.png");
    z-index: 0;
}

.transperancy_box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}

.text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12%;
    left: 10%;
}

.herobar h1 {
    font-size: 7rem;
    color: white;
    width: 75rem;
    /* background: #ccc; */
    z-index: 2;
}

.herobar p {
    font-size: 3.2rem;
    color: rgb(178, 184, 224);
    z-index: 2;
    margin-top: 2.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(51, 60, 118);
    height: 50rem;
}

.login, .register {
    height: 35rem;
    background: #2e9f77;
    padding: 5rem 3rem 0 3rem;
    border-radius: 15px 50px;
    box-shadow: 7px 6px 5px rgb(35, 41, 80);
}

.divider {
    height: 78%;
    width: 0.8rem;
    background: rgb(10, 243, 185);
    border-radius: 30%;
    filter: blur(3px);

} 

.login form p, .register form p {
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    display: inline-block;
}

input {
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 1.3rem;
}

button {
    width: 23rem;
    height: 5rem;
    font-size: 2.5rem;
    background-color: green;
    border: 7px solid darkgreen;
    border-radius: 20px;
    margin: 3rem 35%;
}

.scrollbar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(51, 60, 118);
    padding-bottom: 7rem;
}

.card {
    margin-top: 5rem;
    height: 30rem;
    width: 27%;
    background-color:rgb(160, 169, 222);
    border-radius: 30px;
    font-size: 1.8rem;
    overflow: hidden;
    box-shadow: 5px 5px 10px black;
}

.card .title {
    text-align: center;
    padding: 2.3rem 0 2rem 0;
    font-size: 2.7rem;
    background-color: rgb(148, 239, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(18, 34, 84);
}

.card_content {
    height: 100%;
    font-size: 2.5rem;
    padding: 3rem;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(131, 213, 175);
    color: navy;
}

.connect_and_support {
    padding-top: 7rem;
    width: 100%;
    height: 50rem;
    background: rgb(51, 60, 118);
    overflow: hidden;
}

.connect_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text1, .text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 223, 139);
    border-radius: 15px 50px;
    box-shadow: 7px 7px 10px rgb(29, 29, 82), 3px 3px 5px rgb(138, 122, 43) inset;
}
.text1 {
    width: 45rem;
    height: 30rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}

.text1 p {
    font-size: 5rem;
    padding: 1.5rem;
    text-align: center;
}

.text2 {
    width: 45rem;
    height: 30rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text2 ul {
    list-style: none;
}

.text2 p {
    font-size: 4.5rem;
    padding-left: 9.8rem;
    padding-bottom: 2.3rem;
    
}