.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: rgb(18, 18, 18);
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

/* Custom scrollbar for WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
    background: #222;
    /* Dark background */
    border-radius: 10px;
}

/* Handle (movable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: #555;
    /* Medium-dark color */
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777;
    /* Lighter for visibility */
}

/* Firefox scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: #555 #222;
    /* Handle and track */
}